{% extends "./dashboard.html" %}

{% block sb_admin_content %}
    {% load bootstrap4 django_tables2 %}
    {% bootstrap_css %} {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
    <h2>List des factures</h2>
    <a href="{% url 'facture_create' client_pk=pk %}" class="btn btn-primary">Ajouter Facture</a>
    <br><br>
    <div class="col-lg-12">
        <!-- on affiche les lignes de la facture -->
        {% render_table table %}
    </div>
{% endblock sb_admin_content %}