{% extends "./dashboard.html" %}

{% block sb_admin_content %}
    {% load bootstrap4 django_tables2 crispy_forms_tags %}
    {% bootstrap_css %} {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
    <h2>Suppression d'un client</h2>
    <br>
    <form method="post">
        {% csrf_token %}
        <p>Confirmez-vous la suppression de {{ object }} ?</p>
        <button type="submit" class="btn btn-danger">Confirmer</button>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Annuler</a>
    </form>
{% endblock sb_admin_content %}
