<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fournisseur list</title>
    {% load bootstrap4 django_tables2 %}
    {% bootstrap_css %} {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
</head>
<body>
<h2>List des Fournisseurs</h2>
<a href="{% url 'fournisseur_table_create' %}" class="btn btn-primary">Ajouter Fournisseur</a>
<br><br>
<div class="col-lg-12">
    <!-- on affiche les lignes de la facture -->
    {% render_table table %}
</div>
</body>
</html>